body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* Sắp xếp theo chiều dọc */
    justify-content: space-between;
    /* Căn giữa giữa các phần */
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: #007BFF;
    color: white;
    text-align: center;
    /*padding: 1rem;*/
}

.sensor-container {
    display: flex;
    /* Sử dụng flex để sắp xếp các thẻ theo hàng */
    justify-content: space-around;
    align-items: center;
    /* Căn giữa các thẻ */
    flex-wrap: wrap;
    /* Cho phép thẻ xuống hàng nếu không đủ chỗ */
    width: 100%;
    /* Đảm bảo chiều rộng đầy đủ */
    flex: 1;
    align-items: baseline;
}

.sensor-card {
    text-align: center;
    width: 30rem;
    /* Kích thước thẻ */
    height: 20rem;
    /* Kích thước thẻ */
    margin: 10px;
    /* Khoảng cách giữa các thẻ */
}

.circle {
    width: 20rem;
    /* Kích thước vòng tròn */
    height: 20rem;
    /* Kích thước vòng tròn */
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Màu nền bên trong */
    overflow: hidden;
    /* Đảm bảo viền không tràn ra ngoài */
}

.circle-border {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: conic-gradient(#4dd0e1 0%, #e0e0e0 0%);
    /* Màu viền mặc định */
    transition: background 0.5s ease;
    /* Thay đổi thời gian chuyển động */
}

.inside-circle {
    position: relative;
    /* Thay đổi thành relative để nó nằm trên viền */
    font-size: 35px;
    font-weight: 1000;
    /* Kích thước font */
    border-radius: 50%;
    background-color: white;
    width: 15rem;
    /* Kích thước nhỏ hơn */
    height: 15rem;
    /* Kích thước nhỏ hơn */
    color: #333;
    display: flex;
    /* Sử dụng flex để căn giữa */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    z-index: 1;
    /* Đặt lên trên cùng */
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-25%,70%);
}

.thermometer {
    position: relative;
    height: 400px;
    width: 100px;

    transform: translate(-50%,-40%);
}

.temp-tile{
    transform: translate(50%, -270px);
}

.borders{
    position: relative;
    width: 40px;
    height: 250px;
    border: 5px solid #3a3939;
    border-bottom: none;
    border-radius: 40px 40px 0 0;
    transform: translate(50%,59%);
    bottom: 5px;
    z-index: 1;
    background: #f0f0f0;

}

.sensor-bar {
    height: 0; /* Bắt đầu với chiều cao 0 */
    width: 30px;
    background-color: red;
    border-radius: 25px 25px 0 0;
    position: absolute;
    transform-origin: bottom;
    bottom: 0px; /* Đặt ở dưới cùng */
    left: 50%;
    transform: translate(-50%,20%);
    transition: height 1s ease; /* Thêm hiệu ứng chuyển động */
}


.circle-term {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    transform: translate(-4%,90%);
    border: 5px solid #3a3939;

}
.borders::before{
    content: " ";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    z-index: 2;
    bottom: -30px;
    right: 5px;


}
.circle-term::after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sensor-value {
    font-size: 35px;
    font-weight: 1000;
    color: #333;
    margin-top: 10px;
    transform: translate(250%,0);
}

h3{
    font-size:2.5em;
    font-style: bold;
    color: #333;
}

h1 {
    font-size: 3rem;
    font-style: bold;
    color: #333;
}

/*--------------------------------------------------------------------------------------------------*/
/*              Dùng để respontive từ cấu hình khác nhau, cũng như các vị trí lưới                  */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;             /**/
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 739px) {
    h1 {
        font-size: 1.8rem;
    }
    .sensor-card {

        text-align:center;
        width: 20rem;
        /* Kích thước thẻ */
        height: 15rem;
        /* Kích thước thẻ */
        margin: 0.1em;
        /* Khoảng cách giữa các thẻ */
        transform: translateX(-15%) scale(60%);
    }
    .container {
        transform: translate(70%,-240%) ; /* Di chuyển sang phải 80%, lên trên 240% */
    }
}